<div class="ms-about">
    <div class="row">
        <div class="col-md-12">
            <div class="membrete">
                <h1>{{titulo}}</h1>
                <hr>
                <h2>{{subTitulo}}</h2>
                <a mailTo="mog2646@gmail.com">{{email}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="about">
                    <h3>{{aboutTitulo}}</h3>
                    <hr>
                    <p>{{aboutContenido}}</p>
                    <p>{{aboutContenido}}</p>
                    <p>{{aboutContenido}}</p>
                    <p>{{aboutContenido}}</p>
                    <p>{{aboutContenido}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
