<div class="ms-about">
    <div class="row">
        <div class="col-md-12">
            <div class="membrete">
                <h1>MARLON GUERRERO</h1>
                <hr>
                <h2>Desarrollador Web Front End</h2>
                <a mailTo="mog2646@gmail.com">mog2646@gmail.com</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="about">
                    <h3>Sobre Mi</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, facere nesciunt! Dicta consequuntur, quod eos odio officiis fuga? Quos nesciunt quo recusandae impedit rem voluptatibus quibusdam corrupti beatae earum repellat?</p>
                    <p>Lorem, ipsumsss dolor sit amet consectetur adipisicing elit. Adipisci fuga iure sapiente sint ex quia quos, iusto eaque veritatis harum culpa, deserunt amet hic provident cum eum, fugit nostrum veniam.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptatum officia minima voluptatibus quis voluptatem. Assumenda quis voluptatem repudiandae adipisci earum impedit! Magni delectus aspernatur sed dicta tenetur, dolore ipsam.</p>
                </div>
            </div>
        </div>
    </div>
</div>
