<div class="ms-proyects">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titulo">
                    <h1>Proyectos</h1>
                </div>
                <div class="gallery">
                    <ul>
                        <li  *ngFor="let proyecto of proyects">
                           <a [routerLink]="['/proyecto/',id]">
                            <div class="proyecto">
                                <h4>{{proyecto.name}}</h4>
                                <div class="image">
                                    <img src="{{url+'imagen/'+proyecto.img}}" alt="">
                                </div>
                                <div class="descripcion">
                                    <ul>
                                        <li>
                                            <strong>Proyecto</strong>: {{proyecto.name}} 
                                        </li>
                                        <li>
                                            <strong>Descripcion</strong>: {{proyecto.description}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                           </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>