.ms-contact{
    width: 80%;
    margin: auto;
    padding: 80px;
    h1{
        text-align: center;
    }
    .modificar{
        display: table;
        margin: auto;
        input{
            width: 250px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    
}