/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
    body{
        background: url('../src/app/assets/img/pattern.png');
        background-attachment: fixed;
        h1,h2,h3,h4,h5{
            &:hover{
                color: #686868;
            }
        }
    }


  
}